<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type=text/css href= "{% static 'css/style1.css' %}">
    
</head>
<body>
    <div id="container">
        <div id="dapbar">
            
        </div><br>
<div class="form">
    <lable for="phone">Phonenumber</lable><br>
    <input type="tel" id="phone" name="phone" pattern="[0-9]{4}[0-9]{2}[0-9]{4}" required><br><br>

    <lable for="password">Password</lable><br>
    <input type="password" id="psw" name="pws"><br><br>
    <input type="button" name="" value="Login" onclick="{% static 'index' %}"><br><br>
    <p>New to Bifgix<a href= "{% url 'signup' %}">Create an Account</a></p>

    
</div>
<div id="footer">

</div>
</div>

    
</body>
</html>